# Pythonのキャッシュ
__pycache__/
*.py[cod]

# 仮想環境（もし使っていれば）
venv/
.venv/

# 環境変数（秘密情報）
.env
.env.*
!.env.dev  # 開発用設定だけは共有したい場合はこれ

# VS Codeの設定
.vscode/

# Buildozerのビルドファイル
.buildozer

# その他のIDEやエディタの設定ファイル
__pycache__